* {
  padding: 0;
  margin: 0;
  /* color: var(--White); */
}
body {
  background: url(./images/bgstars.svg);
  background-color: rgb(51, 32, 51);
  background-color: var(--VeryDarkBlue);
  background-size: cover;
}
.App {
  position: relative;
  height: fit-content;
  padding: 4rem 1rem 0;
  overflow: hidden;
  height: 100vh;
}

:root {
  --GrayishBlue: #8486a9;
  --SoftRed: #fb6087;
  --White: #ffffff;
  --DarkDesaturatedBlue: #343650;
  --VeryDarkBlue: #1e1f29;
  --VeryBlackBlue: #191a24;
}
.container {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  /* background-color: yellow; */
  margin: auto;
  /* position: relative; */
  z-index: 1;
}
.get-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  /* position: absolute;
  top: 0;
  bottom: 30rem; */
  height: fit-content;
  margin: auto;
  
}
input {
  /* padding: 2rem; */
  width: 3.8rem;
  /* height: 3.8rem; */ 
  background-color: var(--DarkDesaturatedBlue);
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  color: black;
}
.cards-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  /* padding: 1rem; */
  /* position: absolute; */
  justify-content: space-between;
  /* inset: 0 0 0 0; */
  margin: auto;
  /* background-color: white; */
  /* height: 550px; */
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h2 {
  font-size: 2.5em;
  background-color: var(--DarkDesaturatedBlue);
  width: 3.8rem;
  padding: 0.7rem 0.5rem;
  text-align: center;
  border-radius: 1rem;
  color: var(--SoftRed);
}
.card p {
  font-size: 0.8em;
  color: var(--GrayishBlue);
}
.footer {
  position: absolute;
  background: url(./images/pattern-hills.svg);
  background-size: 250% 100%;
  background-repeat: no-repeat;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}
